.row
  .col-xs-12.col-md-3
    .panel-group#accordion
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{'data-toggle' => "collapse", 'data-parent' => "#accordion", href: "#collapseOne"} Pages
        .panel-collapse.collapse.in#collapseOne
          .panel-body
            .pages-sortable{"data-update-url" => "#{sort_admin_pages_url}"}
              - @pages.each do |page|
                .page-title{'data-page-id' => "#{page.id}"}
                  %span.handle [drag]
                  = link_to page.title, edit_admin_page_path(page)
                - unless page.children.empty?
                  %ul.page-children
                    - page.children.each do |ancestor|
                      %li.page-title.page-ancestor{'data-page-id' => "#{ancestor.id}"}
                        %span.handle [drag]
                        = link_to ancestor.title, edit_admin_page_path(ancestor)


            .page-new= link_to "New Page...", new_admin_page_path

      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{'data-toggle' => "collapse", 'data-parent' => "#accordion", href: "#collapseTwo"} Events
        .panel-collapse.collapse#collapseTwo
          .panel-body
            Events Coming Soon

  .col-xs-12.col-md-9
    #page-content

:coffee
  $ ->
    $('.pages-sortable, .page-children').sortable({
      axis: 'y'
      handle: '.handle'
      update: ->
        pages = []
        $('.pages-sortable .page-title, .page-children .page-title').each ->
          pages.push($(this).data('page-id'))
        $.post($('.pages-sortable').data('update-url'),  { 'page[position]': pages } )
    });