.row
  .col-xs-12.col-md-3
    = render 'side_nav'

  .col-xs-12.col-md-9
    #page-content
      %h2 Create A New Page

      = simple_form_for @page, :url => url_for(:action => 'create', :controller => 'pages'), html: { role: 'form' } do |f|
        .form-group
          = f.input :title, placeholder: 'Page Title', input_html: { style: 'width: 100%' }
        .form-group
          = f.input :content, :as => :ckeditor, input_html: { :ckeditor => {:toolbar => 'Full'} }

        .form-group
          = f.label :parent_id
          = f.collection_select :parent_id, Page.order(:title), :id, :title, include_blank: true
        .form-group
          = f.input :nav_location, collection: Page::NAV_LOCATIONS, include_blank: true
        .form-group
          = f.submit