.four_oven.col-sm-12.col-md-6
  %h2 4-Oven AGA Cooker
  %h4 Cast-iron range cooker

  .image-container
    = image_tag 'four_oven/4oven_cont_black.jpg', class: 'img-responsive'
  .col-sm-12.clearfix
    %h4 Colors
    .color-chip.four-oven-black.active{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Black"}
    .color-chip.four-oven-heather{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Heather"}
    .color-chip.four-oven-pistachio{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Pistachio"}
    .color-chip.four-oven-aubergine{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Aubergine"}
    .color-chip.four-oven-green{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "British Racing Green"}
    .color-chip.four-oven-cream{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Cream"}
    .color-chip.four-oven-darkblue{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Dark Blue"}
    .color-chip.four-oven-pewter{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Pewter"}
    .color-chip.four-oven-white{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "White"}
    .color-chip.four-oven-claret{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Claret"}
    .color-chip.four-oven-ashes{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Pearl Ashes"}
    .color-chip.four-oven-duckegg{ 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Duck Egg Blue"}

    %br
    %br

  .col-sm-12.clearfix
    %h4 Fuel Types
    %i.gas Gas
    %i.electric Electric

    %br
    %br


  .col-sm-12.gallery.clearfix
    = link_to '/assets/4-oven-with-module_black-aga-roomset.jpg', 'data-imagelightbox' => "a", class: 'col-sm-3 thumbnail' do
      = image_tag '4-oven-with-module_black-aga-roomset.jpg'

    = link_to '/assets/aga_classic-4-oven-roomset.jpg', 'data-imagelightbox' => "a", class: 'col-sm-3 thumbnail' do
      = image_tag 'aga_classic-4-oven-roomset.jpg'

.col-sm-12.col-md-6

  %p At nearly one and half meters wide, the impressive 4-oven AGA Cooker is bursting with must-have features. As well as the roasting, slow cook and baking ovens of the 3-oven AGA Cooker, the 4-oven AGA Cooker features a warming oven. This additional feature is perfect for warming plates, resting food or cooking delicate dishes such as meringues. It makes delivering even the most complicated meal an absolute delight, keeping food warm and succulent while you serve your other courses.

  %p A 4-oven AGA Cooker is an indispensable helping hand in a busy kitchen, allowing you to multi-task with the minimum of effort. As well as the simmering and boiling plates that come as standard with all models, another useful feature of the 4-oven AGA is the choice of either a warming plate or a hob. The warming plate is useful to serve from, while the hob provides you with even more cooking options. The two ring hob can be specified as either gas or electric ceramic.

  %p But it's not just its cooking capabilities that make an AGA Cooker such a wonder. The constant heat retained in its cast-iron body makes the roasting and baking oven practically self-cleaning; spillages are carbonized and only require an occasional brush out.

  %p The 4-oven AGA Cooker is available in a wide selection of AGA colors and comes with a range of fuel options - oil, natural or propane gas and electricity. All flue and badge options are available.*

  %ul.nav.nav-tabs{role: "tablist"}
    %li.active
      %a{href: "#features", role: "tab", "data-toggle" => "tab"} Features
    %li
      %a{href: "#technical", role: "tab", "data-toggle" => "tab"} Specs
    %li
      %a{href: "#manuals", role: "tab", "data-toggle" => "tab"} Literature
    %li
      %a{href: "#accessories", role: "tab", "data-toggle" => "tab"} Accessories
    %li
      %a{href: "#contact", role: "tab", "data-toggle" => "tab"} Contact

  .tab-content
    .tab-pane.active#features
      %p The classic 4-oven AGA Cooker is the flagship of the AGA line. Based on a proven design of more than 80 years, the 4-oven AGA provides a truly unique and rewarding cooking experience. With 4 radiant-heat ovens, two hotplates and a warming plate this AGA has unmatched flexibility and cooking capabilities.

      = render 'features'

    .tab-pane#technical
      %h3 FOUR OVEN COOKER - GAS MODEL: SPECIFICATIONS
      .table-responsive
        %table.table
          %tr
            %td
              %strong DIMENSIONS
            %td 33 1/2"H × 26 3/4"D × 58 3/4"W
          %tr
            %td
              %strong NOTE
            %td Do not use the above specifications for kitchen design or installation. Please consult our design guide for detailed rough-in and specification information.
          %tr
            %td
              %strong MATERIALS
            %td Durable cast iron covered by three coats of vitreous enamel in one of 12 colors.
          %tr
            %td
              %strong MAINTENANCE
            %td An annnual and 10-year preventative maintainence are recommended.
          %tr
            %td
              %strong INSTALLATION
            %td Must be installed by a certified AGA fitter. Please note that using anyone other than a certified Aga fitter will void the product warranty.
          %tr
            %td
              %strong WEIGHT
            %td 1290 lbs
          %tr
            %td
              %strong OVEN/BURNER
            %td 15,000 BTU burner. Simple cleaning of ovens and cooktops with wire brush.
          %tr
            %td
              %strong VENTING OPTIONS
            %td Power (through floor), Standard (through roof)and Direct (through exterior wall) venting options are available. Please consult you local certified AGA fitter to determine which venting option is suitable for your kitchen.
          %tr
            %td
              %strong FUEL OPTIONS
            %td Natural Gas, Liquid Propane Gas, Electric
          %tr
            %td
              %strong WARRANTY
            %td 5 years limited, parts and labour

    .tab-pane#manuals
      %p
        %a{href: "http://www.aga-ranges.com/media/185886/brochure_cooker_en.pdf", target: 'blank'} AGA Cooker Brochure
      %p
        %a{href: "http://www.aga-ranges.com/media/236667/misc_aga_total_control_how_aga_cooker_became_an_icon.pdf", target: 'blank'} How the AGA Cooker Became an Icon
      %p
        %a{href: "http://www.aga-ranges.com/media/236997/user_instructions_cooker_2_and_4_oven_gas.pdf", target: 'blank'} User and Care Guide
      %p
        %a{href: "http://www.aga-ranges.com/media/193152/installation_guide_cooker_2_and_4_oven_gas.pdf", target: 'blank'} Installation Instructions
      %p
        %a{href: "http://www.aga-ranges.com/media/237000/installation_guide_cooker_vent.pdf", target: 'blank'} Vent Installation Instructions
      %p
        %a{href: "http://www.aga-ranges.com/media/237039/misc_aga_design_guide.pdf", target: 'blank'} Design Guide

    .tab-pane#accessories
    .tab-pane#contact