.container
  .row
    .home-banner.col-sm-12
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}

        / Wrapper for slides
        .carousel-inner
          .item.active
            = image_tag 'AGA_oven.jpg'

          .item
            = image_tag 'AGA_oven_black.jpg'

          .item
            = image_tag '5-ovenAGAroomset-2.jpg'


        / Controls
        %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
          %span.glyphicon.glyphicon-chevron-right

.container
  .row
    .col-sm-4
      .col-sm-12
        = image_tag '3-oven-aga_black_fe-roomset.jpg', class: 'img-responsive'
        %h4 Total Control
        = link_to 'View Models', '/pages/total-control'
        %br
        %br
      .col-sm-12
        = image_tag 'city24hotplate.jpg', class: 'img-responsive'
        %h4 City24
        = link_to 'View Models', '/pages/city24'
    .col-sm-8
      %h2 Welcome to Creekstone, your AGA Cooker specialists!

      %p Creekstone Cookers is the southeast's premier AGA dealer, specializing in AGA cookers, cookware, and related products.  Here you will find information about our company, products, accessories, cooking demos, and upcoming customer and trade events.

      %p At Creekstone Cookers, we appreciate your interest in AGA and value your business. With a variety of new models and features to choose from, there is a cooker that works for practically every lifestyle and budget. Let us help you navigate the world of AGA to determine the model type, style and color that speaks of Home to you. We are committed to the highest standard of customer service and after market support and we will continually strive to exceed your expectations.

      %p Take an AGA Cooker for a test drive and find out why these beloved and beautiful ranges have been a staple worldwide in the most discerning of homes for generations.

      %p We look forward to welcoming you into the AGA family!

      %p Laurie Lehrich