!!!
%html
  %head
    %title= full_title(yield(:title))
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    = render 'layouts/navigation'
    = render 'layouts/messages'

    - unless params[:action] == "home"
      .container
        .col-md-3
          - side_bar_navigation.each do |link|
            %li.dropdown
              = link_to link.title, page_path(link)
              - if link.children.exists?
                %span.caret
                %ul
                  - link.children.each do |child|
                    %li= link_to child.title, page_path(child)

        .col-md-9
          = yield
    - else
      = yield

    = render 'layouts/footer'