!!!
%html
  %head
    %title= full_title(yield(:title))
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    - if request.env['HTTP_HOST'] == 'www.creekstonecookers.com'
      = render 'layouts/analytics'

  %body

    = render 'layouts/navigation'
    = render 'layouts/messages'

    - unless params[:action] == "home"
      .container
        .row
          .col-md-12
            = yield
    - else
      = yield

    = render 'layouts/footer'