!!!
%html
  %head
    %title= full_title(yield(:title))
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    .container
      = render 'layouts/messages'

      %object{ :height => "100%", :classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :width => "100%" }
        %param{ :name => "movie", :value => "/assets/images/home_loop1.swf" }
        %object{ :type => "application/x-shockwave-flash", :height => "100%", :data => "/assets/images/home_loop1.swf", :width => "100%" }

      .row
        = render 'layouts/navigation'

      .row
        .col-xs-12.col-md-12
          = yield